.slider-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 0;
}

.slider-content {
  padding: 40px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 65vw;
  width: 60vw;
  z-index: 5 !important;
  height: 60vh;
  background: radial-gradient(#00000087 30%, #00000044);
  border-radius: 20px;
  box-shadow: 0px 18px 20px #0007, -1px -1px 2px #fff, 1px 1px 2px #555;
  backdrop-filter: blur(5px);
  display: flex;
  /* justify-content: center;
  align-items: center; */
  overflow: hidden;
  transform: translateY(25px);
  transition: transform .25s;
}
.button-group{
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-group button:last-child{
  margin-left: 20px;
}

/* #svgPath{
  width: 500px;
  height: 600px;
} */
.player-image {
  position: relative;
  min-width: 400px; /* Set a fixed width */
  height: 100%; /* Set a fixed height */
  overflow: hidden; /* Ensure images are clipped to fit within the container */
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  margin-right: 60px;
  width: 40%;
}

.player-image img {
  width: 100%; /* Ensure image fills the width of the container */
  height: 100%; /* Ensure image fills the height of the container */
  object-fit: cover; /* Ensures the image fills the container and maintains aspect ratio */
}

.sold-overlay {
  opacity: 0.6;
}
.player-image .player-image-wrapper .sold-overlay{
  width: 100%;
  object-fit: cover;
}
.player-image-wrapper{
  width: 100%;
}
.player-image-wrapper .stamp-overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  object-fit: contain;
}
.sold-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.sold-text img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: auto;
}

.player-info {
  text-align: left;
  width: 60%;
  height: 100%;
  display: flex
;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: space-between;
}
.desc_text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}
.desc_text div:first-child{
  border-right: 1px solid white;
  width: 55%;

}
.desc_text div:nth-child(2){
  display: flex;
  justify-content: center;
  width: 45%;

}
.desc_text div{
  /* padding: 10px; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.player-info h3 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  /* line-height: .2; */
}
.player-info h2 {
  font-size: 3rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
  color: #fff;
}

.player-info h3 span {
 font-size: 2.3rem;
}
.player-info p {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  color: #fff;
}

.player-info button.sold {
  background-color: red;
}
.player-info button {
  margin-top: 2rem;
  padding: 1.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.player-info button:hover {
  background-color: #218838;
}

.navigation {
  position: absolute;
  left: 20px;
  bottom: 2rem;
  display: flex;
  gap: 1rem;
}

.navigation button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navigation button:hover {
  background-color: #0056b3;
}

/* Constant Text Styling */
.constant-text span{
  font-size: 1rem;
}
.constant-text {
  position: absolute;
  bottom: 20px;
  right: 0%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}
.constant-text2 {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

.slider-container .congrats-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: none; /* Prevent interaction with overlay */
}

.slider-container .congrats-overlay img {
  max-width: 100vw;
  max-height: 100vh;
  object-fit: cover;
}


.gif-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none; /* Prevent interactions with the GIF */
}

.category-label{
  font-size: 6rem;
  color: #fff;
  width: 100%;
    text-align: center;
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  top: 0;
}
.header-section h1{
  color: #fff;
  font-size: .7rem;
  /* margin-right: 1rem; */
}
.header-section h1 span{
  font-size: 1.9rem;
}
.header-section h1 span.spl{
font-size: 1.9rem;
}

.spl-logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}
